rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      allow read, write;
    }
    match /images/{imageId} {
        allow read, create;
    }
    match /useful_links/{linkId} {
        allow read, write;
    }
    match /recommendations/{recommendationId} {
        allow read, write;
    }
  }
}
