
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read and write to the events collection
    match /events/{eventId} {
      allow read, write;
    }
  }
}
